.list-item-container {
    padding: 0px !important;
}


.single-product {
    /* border: 1px solid; */
    box-shadow: 1px 1px #dddddd;
    background-color: #fafafa;
    margin : 5px;
    padding : 5px;
}

.product-details {
    margin-bottom: 10px;
}

.product-image > img {
   height: 250px;
} 